<app-loader *ngIf="loading"></app-loader>

<div class="container" fxLayout="row" fxLayoutAlign="start stretch">

    <app-sidebar [occupations]="occupations" [users]="users" (changeOccupation)="changeOccupation($event)"></app-sidebar>

    <div class="users-wrap" fxLayout="column" *ngIf="occupationId !== -1">

        <p class="no-results" *ngIf="offlineUsers.length < 1 && onlineUsers.length < 1 && !loading">Não foram encontrados usuários</p>

        <div class="total-wrap" fxLayout="row" fxLayoutAlign="center center">

            <div class="online">
    
                <span class="percent">{{ getTotalPercent(onlineUsers) }} %</span>

                <mat-spinner [mode]="'determinate'" [value]="getTotalPercent(onlineUsers)"></mat-spinner>

                <span class="total">{{ onlineUsers.length }} usuários online</span>

            </div>

            <div class="offline">
    
                <span class="percent">{{ getTotalPercent(offlineUsers) }} %</span>

                <mat-spinner [mode]="'determinate'" [value]="getTotalPercent(offlineUsers)"></mat-spinner>

                <span class="total">{{ offlineUsers.length }} usuários offline</span>

            </div>

        </div>

        <div class="search-wrap">

            <mat-form-field class="search" appearance="outline">
                <mat-label>Buscar usuários pelo nome</mat-label>
                <input matInput placeholder="Buscar por nomes" #search>
                <mat-icon>search</mat-icon>
            </mat-form-field>

        </div>

        <div class="users">

            <div fxLayout="row wrap" fxLayoutAlign="start center">

                <p class="no-results" *ngIf="onlineUsers.length < 1 && offlineUsers.length > 0 && !loading">Não há usuários online</p>

                <ng-container *ngFor="let user of orderUsers(onlineUsers, 'email')">

                    <div class="user-wrap" *ngIf="user.profile">
        
                        <div class="card user user-online" (click)="goToUser(user.id)" fxLayout="row" fxLayoutAlign="start center">
                            <span class="user-photo">
                                <img [src]="user.profile.image_48" alt="">
                                <span [ngClass]="checkUserStatus(user.id)" class="status"></span>
                            </span>
                            <span class="user-name" *ngIf="user.profile.display_name" [matTooltip]="user.profile.display_name">{{ user.profile.display_name }}<br />  <small>({{user.profile.email}})</small></span>
                            <span class="user-name" *ngIf="!user.profile.display_name && user.profile.email" [matTooltip]="user.profile.email">{{ user.profile.email }}</span>          
                        </div>
                
                    </div>
        
        
                </ng-container>

            </div>

            <div class="see-more" *ngIf="offlineUsers && offlineUsers.length > 0 && !loading">
                <span *ngIf="!seeMore" (click)="seeMore = true;">Ver mais <mat-icon>arrow_circle_down</mat-icon></span>
                <span *ngIf="seeMore" (click)="seeMore = false;">Ver menos <mat-icon>arrow_circle_up</mat-icon></span>
            </div>
 

            <div fxLayout="row wrap" fxLayoutAlign="start center" *ngIf="seeMore">

                <p class="no-results" *ngIf="offlineUsers.length < 1 && onlineUsers.length > 0 && !loading">Não há usuários online</p>

                <ng-container *ngFor="let user of orderUsers(offlineUsers, 'email')">

                    <div class="user-wrap" *ngIf="user.profile" >
        
                        <div class="card user user-offline" (click)="goToUser(user.id)" fxLayout="row" fxLayoutAlign="start center">
                            <span class="user-photo">
                                <img [src]="user.profile.image_48" alt="">
                                <span [ngClass]="checkUserStatus(user.id)" class="status"></span>
                            </span>
                            <span class="user-name" *ngIf="user.profile.display_name" [matTooltip]="user.profile.display_name">{{ user.profile.display_name }}</span>
                            <span class="user-name" *ngIf="!user.profile.display_name && user.profile.email" [matTooltip]="user.profile.email">{{ user.profile.email }}</span>          
                        </div>
                
                    </div>
        
        
                </ng-container>

            </div>

        </div>

    </div>

    <div class="teams-wrap" fxLayout="row" fxLayoutAlign="center center" *ngIf="employees.length > 0 && occupationId === -1">

        <div class="team card" *ngFor="let occupation of occupations" (click)="changeOccupation(occupation.id)">
           
            <span class="name"> # {{occupation.name}} - </span>

            <span class="total total-online">{{ getTotalByTeam(onlineUsers, occupation.id) }} online</span> /
            <span class="total total-offline">{{ getTotalByTeam(offlineUsers, occupation.id) }} offline</span>


           <div class="users-status" fxLayout="row" fxLayout.lt-md="column">

                <div class="online-status" fxFlex="100" fxFlex.gt-md="50">
                    <span class="percent">{{getTotalPercentByTeam(onlineUsers, occupation.id, offlineUsers)}}%</span>
                    <mat-spinner [mode]="'determinate'" [value]="getTotalPercentByTeam(onlineUsers, occupation.id, offlineUsers)"></mat-spinner>
                </div>

                <div class="offline-status" fxFlex="100" fxFlex.gt-md="50">
                    <mat-spinner [mode]="'determinate'" [value]="100"></mat-spinner>
                </div>

           </div>

        </div>

    </div>

</div>