<app-sidebar [occupations]="occupations" (changeOccupation)="changeOccupation($event)"></app-sidebar>

<div class="users-wrap">

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Buscar usuários</mat-label>
        <input matInput placeholder="Buscar por nomes" #search>
    </mat-form-field>
    
    <p class="no-users" *ngIf="users.length < 1">Não foram encontrados usuários para esse time</p>

    <div class="users" *ngIf="users && users.length > 0">

        <ng-container *ngFor="let user of users">

            <div class="user-wrap" *ngIf="user.profile">

                <div class="user">
                    <span class="user-photo">
                        <img [src]="user.profile.image_48" alt="">
                        <span [ngClass]="checkUserStatus(user.id)" class="status"></span>
                    </span>
                    <span class="user-name" [matTooltip]="user.profile.display_name">{{ user.profile.display_name }}</span>
                    
                </div>
        
            </div>

        </ng-container> 

    </div>

</div>