:host {
    display: block;


    .container {
        min-height: 100vh;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 6px;
        padding: 8px;
    }
      
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .blink {
        animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
    }

    @keyframes blinker {  
        from { opacity: 1; }
        to { opacity: 0.5; }
    }

    .search-wrap {
        text-align: center;
    }

    .see-more {
        margin: 20px 0;
        text-align: center;

        span {
            cursor: pointer;
            font-size: 14px;

            .mat-icon {
                position: relative;
                top: 6px;
            }
        }
    }

    .users-wrap {
        padding: 10px  20px;
        width: calc(100% - 250px);
    }

    .no-results {
        margin: 5px  0;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    .users {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 100%;


        .user-wrap {
            width: 100%;

            .user {
                margin: 10px;
                cursor: pointer;

                &.user-offline {
                    -moz-box-shadow:    inset 0 0 8px #000000;
                    -webkit-box-shadow: inset 0 0 8px #000000;
                    box-shadow:         inset 0 0 8px #000000;
                    opacity: 0.65;
                }
            }

            .user-photo {
                width: 48px;
                height: auto;
                position: relative;
                display: inline-block;
                margin-right: 8px;

                .status {
                    display: block;
                    width: 15px;
                    height: 15px;
                    background-color: darkgray;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-radius: 100%;

                    &.active {
                        background-color: chartreuse;
                    }
                }

                img {
                    display: block;
                    width: 48px;
                    border-radius: 50%;
                }

            }

        }
    }

    ::ng-deep {
        
        .online {
            .mat-progress-spinner circle, .mat-spinner circle {
                stroke: chartreuse;
            }
        }

        .offline {
            .mat-progress-spinner circle, .mat-spinner circle {
                stroke: crimson;
            }
        }

        .mat-progress-spinner {
            margin: 0 auto;
        }
    }

    .total-wrap {

        margin-bottom: 30px;
        
        .total {
            font-weight: bold;
        }


        .percent {
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            display: block;
            position: relative;
            top: 58px;
        }

        .online, .offline {
            margin: 0  10px;
        }


    }


    @media screen and (min-width: 959px){
       

        .users {
            .user-wrap {
                width: 33.3333333333%;
            }
        }
        
    }

}